{
  "BitTorr": {
    "CacheSize": {{ torrserver.settings.CacheSize | default(33554432) | tojson }},
    "ConnectionsLimit": {{ torrserver.settings.ConnectionsLimit | default(12) | tojson }},
    "DisableDHT": {{ torrserver.settings.DisableDHT | default(true) | tojson }},
    "DisablePEX": {{ torrserver.settings.DisablePEX | default(true) | tojson }},
    "DisableTCP": {{ torrserver.settings.DisableTCP | default(false) | tojson }},
    "DisableUPNP": {{ torrserver.settings.DisableUPNP | default(true) | tojson }},
    "DisableUTP": {{ torrserver.settings.DisableUTP | default(true) | tojson }},
    "DisableUpload": {{ torrserver.settings.DisableUpload | default(true) | tojson }},
    "DownloadRateLimit": {{ torrserver.settings.DownloadRateLimit | default(0) | tojson }},
    "EnableDLNA": {{ torrserver.settings.EnableDLNA | default(false) | tojson }},
    "EnableDebug": {{ torrserver.settings.EnableDebug | default(false) | tojson }},
    "EnableIPv6": {{ torrserver.settings.EnableIPv6 | default(false) | tojson }},
    "EnableProxy": {{ torrserver.settings.EnableProxy | default(false) | tojson }},
    "EnableRutorSearch": {{ torrserver.settings.EnableRutorSearch | default(false) | tojson }},
    "EnableTorznabSearch": {{ torrserver.settings.EnableTorznabSearch | default(false) | tojson }},
    "ForceEncrypt": {{ torrserver.settings.ForceEncrypt | default(false) | tojson }},
    "FriendlyName": {{ torrserver.settings.FriendlyName | default("") | tojson }},
    "PeersListenPort": {{ torrserver.settings.PeersListenPort | default(0) | tojson }},
    "PreloadCache": {{ torrserver.settings.PreloadCache | default(20) | tojson }},
    "ProxyHosts": {{ torrserver.settings.ProxyHosts | default(none) | tojson }},
    "ReaderReadAHead": {{ torrserver.settings.ReaderReadAHead | default(30) | tojson }},
    "RemoveCacheOnDrop": {{ torrserver.settings.RemoveCacheOnDrop | default(false) | tojson }},
    "ResponsiveMode": {{ torrserver.settings.ResponsiveMode | default(true) | tojson }},
    "RetrackersMode": {{ torrserver.settings.RetrackersMode | default(1) | tojson }},
    "ShowFSActiveTorr": {{ torrserver.settings.ShowFSActiveTorr | default(true) | tojson }},
    "SslCert": {{ torrserver.settings.SslCert | default("") | tojson }},
    "SslKey": {{ torrserver.settings.SslKey | default("") | tojson }},
    "SslPort": {{ torrserver.settings.SslPort | default(0) | tojson }},
    "StoreSettingsInJson": {{ torrserver.settings.StoreSettingsInJson | default(true) | tojson }},
    "StoreViewedInJson": {{ torrserver.settings.StoreViewedInJson | default(false) | tojson }},
    "TMDBSettings": {
      "APIKey": {{ torrserver.settings.TMDBSettings.APIKey | default("") | tojson }},
      "APIURL": {{ torrserver.settings.TMDBSettings.APIURL | default("https://api.themoviedb.org") | tojson }},
      "ImageURL": {{ torrserver.settings.TMDBSettings.ImageURL | default("https://image.tmdb.org") | tojson }},
      "ImageURLRu": {{ torrserver.settings.TMDBSettings.ImageURLRu | default("https://imagetmdb.com") | tojson }}
    },
    "TorrentDisconnectTimeout": {{ torrserver.settings.TorrentDisconnectTimeout | default(20) | tojson }},
    "TorrentsSavePath": {{ torrserver.settings.TorrentsSavePath | default("/opt/torrserver/torrents") | tojson }},
    "TorznabUrls": {{ torrserver.settings.TorznabUrls | default(none) | tojson }},
    "UploadRateLimit": {{ torrserver.settings.UploadRateLimit | default(256000) | tojson }},
    "UseDisk": {{ torrserver.settings.UseDisk | default(false) | tojson }}
  }
}
